<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8899-1" />
	<link rel="stylesheet" href="/css/style.css">

	<title>Index</title>
</head>

<body>
	<section>
		<!--Slider start-->
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="https://img.freepik.com/free-vector/online-shopping-concept-illustration_114360-1084.jpg?t=st=1731085083~exp=1731088683~hmac=143d1548bcd41a84ea34e9eca223bdd66fe290bb19705ccfb0cd3dcd1ae75882&w=740"
						class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item">
					<img src="https://img.freepik.com/free-vector/grocery-promotion-concept-illustration_114360-18712.jpg?t=st=1731085184~exp=1731088784~hmac=99658899693f0c1f7014259158d0a33dcb40af0742747434813c60bb915a588a&w=740"
						class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item">
					<img src="https://img.freepik.com/free-vector/isometric-e-commerce-concept-style_23-2148569257.jpg?t=st=1731085327~exp=1731088927~hmac=58c6904f60f7f13b27d637c7799b3295fb65ff0de659a4f8a2f865189245108e&w=740"
						class="d-block w-100" alt="..." height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!--Slider end-->

		<!--Category start-->
		<div class="container">
			﻿
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/appli.png" width="65%" height="148px">
							<p>Eelectronics</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/beuty.png" width="65%" height="148px">
							<p>Beauty</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/blue shirt.jfif" width="65%" height="148px">
							<p>Clothes</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/book.jpg" width="65%" height="148px">
							<p>Books</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/canvas.jfif" width="65%" height="148px">
							<p>Canvas</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/groccery.jpg" width="65%" height="148px">
							<p>Groccery</p>
						</div>
					</div>
				</div>


			</div>

		</div>
		<!--Category end-->
		<!--Latest product start-->
		﻿
		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>

				﻿
				<div class="col-md-3">
					<div class="card rounded-circle shadow-sm">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop.jpg" class="" width="65%" height="140px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				﻿
				<div class="col-md-3 ">
					<div class="card rounded-circle shadow-sm ">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/grinder.jpg" class="" width="65%" height="140px">
							<p class="text-center">Grinder</p>
						</div>
					</div>
				</div>
				﻿
				<div class="col-md-3">
					<div class="card rounded-circle shadow-sm ">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/fridge.png" class="" width="65%" height="140px">
							<p class="text-center">Fridges</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card rounded-circle shadow-sm">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/iphone 14.jpg" class="" width="65%" height="140px">
							<p class="text-center">Phones</p>
						</div>
					</div>
				</div>
			</div>


		</div>
		<!--Latest product end-->

	</section>

</body>

</html>