<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1" />
	<title>login</title>
</head>

<body>
	<section>
		<div class="container mt-5 p-5 shadow p-3 mb-5 bg-body-tertiary rounded">
			<div class="row">
				<div class="col-md-6 shadow-sm p-3 mb-5 bg-body-tertiary rounded  p-5">

					<img src="https://www.kindpng.com/picc/m/732-7329685_e-commerce-website-background-image-e-commerce-website.png"
						alt="E-commerce" height="620px" width="620px">
				</div>
				<div class="col-md-6 mt-5 p-5 ">
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header ">
							<p class="fs-4 text-center">Login</p>
						</div>
						<div class="card-body">
							<form>
								<div class="mb-3">
									<label class="form-label">Email</label>
									<input class="form-control" name="email" type="email" />
								</div>
								<div class="mb-3">
									<label class="form-label">Password</label>
									<input class="form-control" name="password" type="password" />
								</div>
								<button type="submit" class="btn col-md-12 text-white bg-primary"> Login</button>
							</form>
						</div>
						<div class="card-footer text-center">
							<a href="#" class="text-decoration-none">Forgot Password</a><br/>
							Don't have an account 
							<a href="#" class="text-decoration-none">Create Account</a>
						     
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>

</html>